.turno-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

img{
    width: 150px;
    height: auto;
}

button{
    width: 150px;
}

.send-button{
    order: 1;
}

.plantarse{
    order: 2;
}

.again{
    visibility: hidden;
}